/* 4K*/
@media only screen and (max-width:5920px) {

}

/* Full HD*/
@media only screen and (max-width:1920px) {

}


/* Экстрабольшие девайсы (большие десктопы, >= 1200px) */
@media only screen and (max-width: 1200px) { 
    .menu_top {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .menu_top li {
        margin-right: 0px;
    }
    
}


/* Большие девайсы (десктопы, <= 991px) */
@media only screen and (max-width: 991px) { 
    .left_col {
        max-width: 0px;
        padding: 0;
    }


    .desctop_left_menu {
        display: none;
    }
    .mobile_left_menu {
        display: block;
    }
    .menu_div .left_col {
        max-width: 100%;
    }
    .logo {
        width: 115px;
        height: 37px;
        background: url('../img/Logo_mob.png') no-repeat;
        background-position: center;
        margin: 0 auto;
        margin-top: -4px;
    }
    .card {
        max-width: 100%;
    }

    .leftbar {
        transform: translateX(-100%);
        height: 100vh;
        top: 0;
    }
    .leftbar.active {
        transform: translateX(0%);
    }
    .left_menu .help .help_iner {
        margin-left: 10px;
    }

    .search_col_mobil, .button_mobi_menu_off {
        display: block;
    }
    .mobil_off {
        display: none;
    }

    .container {
        max-width: 100%;
    }

    
    .menu_top {
        width: 100%;
        margin: 0;
        margin-top: 20px;
    }
    .menu_top {    
        flex-direction: column;
        -webkit-flex-direction: column;
    }
    .menu_top li {
        height: 60px;
        /*display: none;*/
        margin: 0px;
        font-size: 20px;
        width: 100%;
    }
    .menu_top li a:after {
        display: none;
    }
    .button_mobi_menu {
        display: block;
    }
    
    .icon_not {
        width: 30px;
        height: 30px;
    }
   .button_header_div {
        margin-right: 5px;
        padding-top: 0px;
    }
}

/* Средние девайсы («таблетки», <= 767px) */
@media only screen and (max-width: 767px) { 
    
}

@media only screen and (max-width: 649px) { 
    .col_content_mid {
        padding: 0;
    }
    .content {
        padding-top: 0px;
    }
    .header_card {
        border-radius: 0;
    }
    .background_card {
        height: 74px;
    }
    .background_card .status_card {
        display: none;
    }

    .avatar_div {
        margin-top: -60px;
        width: 120px;
        height: 120px;
        float: left;
    }

    .avatar_div:hover .message, .avatar_div:hover .add {
        display: none;
    }
    .mob_ico_btc_user{
        display: block;
        float: right;
    }
    .info_card {
        height: auto;
    }
    .info_card .col:first-child {
        min-width: 100%;
        margin-bottom: 75px;
    }

    .info_level {
        height: 60px;
        margin: 0;
        margin-top: -120px;
        margin-bottom: 67px;
    }
    .achievements_div {
        border-top: 1px solid #f3f3f3;
    }


    .info_level a {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        line-height: 42px;
        text-align: center;
        font-weight: bold;
    }
    .info_level a span {
        display: none;
    }
}

/* Малые девайсы («ландшафтные телефоны», <= 575px) */
@media only screen and (max-width: 575px) {
    
}

@media only screen and (max-width: 540px) {
    .status {
        margin-right: 7px;
    }


   .info_card .num {
        font-size: 18px;
        line-height: 20px;
        margin-top: 15px;
    }
    .info_card .info_title {
        font-size: 10px;
    }
    .info_level {
        margin-top: -114px;
    }


    .posts_left {
        max-width: 0px;
    }
    .posts_user, .posts_data {
        padding-left: 60px;
    }
    .posts_data {
        margin-bottom: 10px;
    }
    .post_bot .post_bot_likes {
        margin-left: 0px; 
    }

    .post_bot .comment_write {
        border-radius: 0px;
        width: 100%;
        margin-left: 0px;
        min-height: 110px;
        background: #fff;
        padding: 13px 7px;
        padding-bottom: 12px;
    }
    .comment_write .comment_text textarea {
        width: calc(100% - 20px);
        min-height: 50px;
    }

    .comment_write .comment_submit {
        max-width: 100%;
        min-width: 100%;
        text-align: center;
        padding-right: 0px;
    }
    .comment_submit .button_1 {
        float: none;
    }
    .post_bot .comment_write_div {
        margin: 0 -12px;
    }
    .post_bot .comment_write_div_iner {
        margin-top: 0px;
        padding: 0;
    }
    .post_bot .comment_write_div_iner:before {
        display: none;
    }
   
    .achievements {
        height: auto;
        overflow: hidden;
    }
    .achievements .achievements_item {
        display: none;
        position: relative;
        width: calc(25% - 18px);
        height: auto;
    }
    .achievements .achievements_item:nth-child(1), .achievements .achievements_item:nth-child(2), 
    .achievements .achievements_item:nth-child(3), .achievements .achievements_item:nth-child(4) {
        display: block;
    }
    .achievements .achievements_item::before {
        content: "";
        display: block;
        padding-top: 100%; /* С помощью этого padding мы задаем высоту равную ширине блока */
    }
    .achievements .achievements_item {
        margin: 5px 9px;
    }
    .achievements_div {
        margin: 0;
        padding: 0 16px;
    }
    .achievements {
        margin-bottom: 5px;
    }
    .wall_text_buttons {
        margin: 0 10px;
        margin-top: 6px;
    }
    .add_wall_buttons {
        margin-right: 30px;
    }
    .wall_text_buttons a.add_wall_buttons:last-child {
        margin-right: 0px;
    }
    .add_wall_buttons {
        max-width: 50px;
    }
    .wall_text_button {
        max-width: 100%;
    }

    .info_card .info_block {
        height: 60px;
    }
    .info_level {
        margin-top: -116px;
        margin-bottom: 60px;
    }
    .wall_text_buttons .button_1 {
        float: right;
    }

    .post_bot a {
        margin: 0px;
        width: 44px;
    }
    .post_bot a:last-child {
        margin-left: -2px;
    }
}

@media only screen and (max-width: 379px) {
    .add_wall_buttons {
        margin-right: 26px;
    }
}

@media only screen and (max-width: 359px) {
   
    .mob_ico_btc_user .mob_ico_btc {
        margin-left: 10px;
    }
    .mob_ico_btc_user .mob_ico_btc:first-child {
        margin-left: 0px;
    }
    .add_wall_buttons {
        margin-right: 20px;
    }

    .post_bot a {
        margin: 0px;
        width: 36px;
    }
}

/* IPhone 5 */
@media only screen and (max-width: 340px) {

    .add_wall_buttons {
        margin-right: 15px;
    }
}
